.main-container{
    background-color: #065AD9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    padding: 10%;
    background-color: aliceblue;
    width: 70%;
    border-radius: 20px;
}

.alert-text {
    margin-top: 10px;
    color: red;
    text-align: center;
}